<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/profilestayle.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/alluser.css">
    <link rel="stylesheet" href="../css/media.css">
    <title>Document</title>
</head>
<body class="boddy">
  
    <%- include('menu1.ejs'), {user:user} -%> 
    
<br>
<br>
<div class="row" id="row" >
    <div class="col-md-3 profconout" >
      <div class="profconin">
       <div class="imgcontainerprofil">
           <img class=" cardimg" src="../<%=user.pic_url%>" alt="Card image">   
       </div>
          <h5 class="card-title"><%= user.name  %> <%= user.surname  %></h5>
        
         <% if(set){ %>
<div class="box">
 
<div class="boxflex">
  <div class="boximage"> 

    <form method="post" action="/addPicture" enctype='multipart/form-data'>
      <label class="labe btn btn-outline-primary" for="inp"  >
          <span class='chose'> chose file</span>
          <svg class="svg" height="50" width="50" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"    viewBox="0 0 407.51 407.51" style="enable-background:new 0 0 407.51 407.51;" xml:space="preserve">
     <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-42.866" y1="553.4496" x2="-42.866" y2="488.8496" gradientTransform="matrix(5.2245 0 0 -5.2245 427.708 2926.4958)">
         <stop  offset="0" style="stop-color:#00EFD1"/>
         <stop  offset="1" style="stop-color:#00ACEA"/>
     </linearGradient>
     <path style="fill:url(#SVGID_1_);" d="M376.163,35.004H31.347C13.584,35.004,0,48.588,0,66.351v274.808
         c0,17.763,13.584,31.347,31.347,31.347h344.816c17.763,0,31.347-13.584,31.347-31.347V66.351
         C407.51,48.588,393.927,35.004,376.163,35.004z M31.347,66.351h344.816v137.404l-69.486-55.38c-5.747-4.702-13.584-4.702-19.331,0
         l-72.098,57.469l-59.559-71.053c-5.224-6.269-14.629-7.314-21.42-2.612L31.347,207.935V66.351L31.347,66.351z M31.347,246.596
         l109.714-80.457l145.241,175.02H31.347V246.596z M327.053,341.159L235.102,230.4l61.649-49.11l79.412,62.694v97.176L327.053,341.159
         L327.053,341.159z"/>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     <g>
     </g>
     </svg>
     <input id="inp" type="file" name="image" class=" input"   >
  </label>
             <button class="btn btn-outline-primary btn1"  >
              <svg height="100%" viewBox="0 0 512 512" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <linearGradient id="linear0" gradientUnits="userSpaceOnUse" x1="0" x2="512" y1="256" y2="256">
                    <stop offset="0" stop-color="#00f2fe"/><stop offset=".0208" stop-color="#03effe"/>
                    <stop offset=".2931" stop-color="#24d2fe"/><stop offset=".5538" stop-color="#3cbdfe"/>
                    <stop offset=".7956" stop-color="#4ab0fe"/><stop offset="1" stop-color="#4facfe"/>
                </linearGradient><path d="m331.273438 175h-10.566407c-.617187 0-1.183593-.363281-1.4375-.925781l-2.65625-5.785157c-6.757812-14.726562-21.59375-24.242187-37.796875-24.242187h-39.925781c-16.203125 0-31.039063 9.515625-37.792969 24.238281l-2.65625 5.789063c-.257812.5625-.824218.925781-1.441406.925781h-12.269531c-23.5625 0-42.730469 19.167969-42.730469 42.726562v89.5c0 23.5625 19.167969 42.726563 42.726562 42.726563h146.546876c23.558593 0 42.726562-19.164063 42.726562-42.726563v-89.5c0-23.558593-19.167969-42.726562-42.726562-42.726562zm2.726562 132.226562c0 1.503907-1.222656 2.726563-2.726562 2.726563h-146.546876c-1.503906 0-2.726562-1.222656-2.726562-2.726563v-89.5c0-1.503906 1.222656-2.726562 2.726562-2.726562h12.269532c16.203125 0 31.039062-9.515625 37.796875-24.242188l2.65625-5.789062c.257812-.5625.820312-.921875 1.441406-.921875h39.925781c.617188 0 1.179688.359375 1.4375.921875l2.65625 5.792969c6.761719 14.722656 21.59375 24.238281 37.796875 24.238281h10.566407c1.503906 0 2.726562 1.222656 2.726562 2.726562zm-46-51.226562c0 16.570312-13.429688 30-30 30s-30-13.429688-30-30 13.429688-30 30-30 30 13.429688 30 30zm224-170v50c0 27.570312-22.429688 50-50 50h-50c-11.046875 0-20-8.953125-20-20s8.953125-20 20-20h29.9375c-38.582031-65.082031-109.207031-106-185.9375-106-11.046875 0-20-8.953125-20-20s8.953125-20 20-20c50.230469 0 98.863281 14.546875 140.640625 42.0625 30.414063 20.03125 56.011719 46.082031 75.359375 76.457031v-32.519531c0-11.046875 8.953125-20 20-20s20 8.953125 20 20zm-224.945312 404.953125c.460937 11.035156-8.109376 20.355469-19.148438 20.816406-3.621094.152344-7.292969.230469-10.90625.230469-50.019531 0-98.480469-14.433594-140.148438-41.738281-31.148437-20.410157-57.28125-47.148438-76.851562-78.375v34.113281c0 11.046875-8.953125 20-20 20s-20-8.953125-20-20v-50c0-27.570312 22.429688-50 50-50h50c11.046875 0 20 8.953125 20 20s-8.953125 20-20 20h-28.929688c38.589844 65.054688 109.292969 106 185.929688 106 3.058594 0 6.167969-.066406 9.238281-.191406 11.042969-.46875 20.355469 8.109375 20.816407 19.144531zm-287.054688-234.953125c0-11.046875 8.953125-20 20-20s20 8.953125 20 20-8.953125 20-20 20-20-8.953125-20-20zm11-73c0-11.046875 8.953125-20 20-20s20 8.953125 20 20-8.953125 20-20 20-20-8.953125-20-20zm34-66c0-11.046875 8.953125-20 20-20s20 8.953125 20 20-8.953125 20-20 20-20-8.953125-20-20zm52-52c0-11.046875 8.953125-20 20-20s20 8.953125 20 20-8.953125 20-20 20-20-8.953125-20-20zm66-34c0-11.046875 8.953125-20 20-20s20 8.953125 20 20-8.953125 20-20 20-20-8.953125-20-20zm349 225c0 11.046875-8.953125 20-20 20s-20-8.953125-20-20 8.953125-20 20-20 20 8.953125 20 20zm-11 71c0 11.046875-8.953125 20-20 20s-20-8.953125-20-20 8.953125-20 20-20 20 8.953125 20 20zm-32 64c0 11.046875-8.953125 20-20 20s-20-8.953125-20-20 8.953125-20 20-20 20 8.953125 20 20zm-49 52c0 11.046875-8.953125 20-20 20s-20-8.953125-20-20 8.953125-20 20-20 20 8.953125 20 20zm-63 35c0 11.046875-8.953125 20-20 20s-20-8.953125-20-20 8.953125-20 20-20 20 8.953125 20 20zm0 0" fill="url(#linear0)"/>
            </svg>
         </button>
    
     </form>

</div>
      <form action="/updateProfil" method="POST" class="formst">
        


      <div class="input-container">
        <input type="text" required=""  name="name" value="<%=user.name%>"/>
        <label>Name</label>	<span class="text-danger"><%= err.name %></span>	
      </div>

      <div class="input-container">
        <input type="text" required=""  name="surname" value="<%=user.surname%>"/>
        <label>Surame</label>	<span class="text-danger"><%= err.suename %></span>	
      </div>

      <div class="input-container">
        <input type="text" required=""  name="age" value="<%=user.age%>"/>
        <label>Age</label>	<span class="text-danger"><%= err.age %></span>	
      </div>

      <div class="input-container">		
        <input type="mail" required="" name="email" value="<%=user.email%>"/>
        <label>Email</label><span class="text-danger"><%= err.email %></span>
      </div>

      <div class="input-container">		
        <input type="password" required="" name="password"/>
        <label>Password</label><span class="text-danger"><%= err.password %></span>
      </div>


      <div class="input-container">		
        <input type="password" required="" name="conpassword"/>
        <label>ConfirmPassword</label><span class="text-danger"><%= err.conpassword %></span>
      </div>


     
        <button  class="btn btn-outline-primary">Save</button>




    </form>	
 
    




  </div>
</div>
      <%   } else{ %>
              <form method="post" action="/openSetings">
                 <button  class="btn btn-outline-primary" style="  width:50px; height: 40px;border: none;">
                   <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" style="  width: 30px; height:30px;border: none;" >
                    <defs><style>.cls-1{fill:#2e79bd;}.cls-2{fill:#2d3e50;}</style></defs><title>x</title>
                    <path class="cls-1" d="M65.76936,84.91726A14.569,14.569,0,0,0,81.8329,91.57069a14.3916,14.3916,0,0,0,3.87116-1.60659,14.58906,14.58906,0,0,0,5.04923-5.04937A14.38535,14.38535,0,0,0,92.36,81.04356a14.54749,14.54749,0,0,0-6.6559-16.06347A14.38933,14.38933,0,0,0,81.8329,63.3735,14.54085,14.54085,0,0,0,65.76936,84.91726Z"/>
                    <path class="cls-2" d="M119.57964,70.98182H116.723a38.78508,38.78508,0,0,0-6.67352-16.11549l2.02186-2.022A6.4929,6.4929,0,0,0,102.889,43.662l-2.02186,2.022a38.72209,38.72209,0,0,0-16.11077-6.6688V36.15382a6.493,6.493,0,0,0-11.32969-4.33148A9.56557,9.56557,0,0,1,74.651,36.52948a9.706,9.706,0,0,1-7.63335,9.46982,32.63808,32.63808,0,0,1-2.46258,5.95,9.72313,9.72313,0,0,1,1.07586,2.291,26.22305,26.22305,0,0,1,6.14017-2.40689,26.6729,26.6729,0,0,1,12.98527,0A26.16727,26.16727,0,0,1,91.796,54.755,26.49008,26.49008,0,0,1,103.90014,83.967a26.167,26.167,0,0,1-2.92177,7.0398,26.53283,26.53283,0,0,1-9.18235,9.18242,26.16728,26.16728,0,0,1-7.03966,2.92163A26.44855,26.44855,0,0,1,54.14374,66.61791a9.61961,9.61961,0,0,1-2.98662-1.2707,33.26185,33.26185,0,0,1-5.94533,2.46251A9.70663,9.70663,0,0,1,35.742,75.43856a9.60507,9.60507,0,0,1-4.48459-1.10377A6.49649,6.49649,0,0,0,36.943,83.967h2.86143a38.667,38.667,0,0,0,6.67338,16.11091l-2.022,2.02194a6.49133,6.49133,0,1,0,9.17784,9.18242l2.022-2.022a38.78244,38.78244,0,0,0,16.11542,6.67345v2.85671a6.49264,6.49264,0,0,0,12.98527,0V115.929a38.72209,38.72209,0,0,0,16.11077-6.6688l2.02186,2.022a6.49293,6.49293,0,0,0,9.18235-9.18242l-2.02186-2.02194A38.721,38.721,0,0,0,116.71821,83.967h2.86143a6.49257,6.49257,0,1,0,0-12.98513Z"/>
                    <path class="cls-1" d="M31.14826,65.74592a4.59131,4.59131,0,0,0,9.18263,0V63.72251a27.38307,27.38307,0,0,0,11.393-4.71595l1.42987,1.42987A4.59156,4.59156,0,0,0,59.64723,53.943l-1.43-1.42987a27.3823,27.3823,0,0,0,4.71595-11.393h2.02356a4.59135,4.59135,0,0,0,0-9.1827H62.93641a27.42543,27.42543,0,0,0-4.71919-11.39623l1.43-1.42987a4.59156,4.59156,0,0,0-6.49348-6.49341l-1.42987,1.42987a27.38214,27.38214,0,0,0-11.393-4.71595V7.30838a4.59131,4.59131,0,1,0-9.18263,0V9.32855a27.42612,27.42612,0,0,0-11.39637,4.71926L18.322,12.61794a4.59036,4.59036,0,1,0-6.4901,6.49341l1.42987,1.42987A27.38583,27.38583,0,0,0,8.53935,31.93746H6.519a4.59135,4.59135,0,0,0,0,9.1827H8.54246a27.34486,27.34486,0,0,0,4.71933,11.393L11.83192,53.943a4.59037,4.59037,0,1,0,6.4901,6.49341l1.42987-1.42987a27.426,27.426,0,0,0,11.39637,4.71919ZM28.13358,49.29037A14.86079,14.86079,0,0,1,39.38685,22.12244,14.70056,14.70056,0,0,1,43.342,23.76393a14.88285,14.88285,0,0,1,6.80055,16.41227,14.69874,14.69874,0,0,1-1.64149,3.95526A14.90572,14.90572,0,0,1,43.342,49.29037a14.696,14.696,0,0,1-3.95519,1.64149,14.84261,14.84261,0,0,1-11.25327-1.64149Z"/>
                  </svg>
                </button>
              </form>

     <% }%>
   
 </div>
 

</div>


<div class="col-md-5">
<div class="profstatusgrid">


<% for(let i=0;i<statuss.length;i++) { %>
  <div class="profstatus" data-id='<%=statuss[i].userful.pic_url %>' >
    <span data-id='<%=user.id%>'></span><span  data-id='<%=statuss[i].id%>'></span>
         <span class="stususer"><img class="statususerimage"src="<%=statuss[i].userful.pic_url %>" >
          <h5 class="card-title"><%=statuss[i].name %> <%=statuss[i].surname %>  </h5>
        </span> 
            <p class="card-text"><%=statuss[i].text %></p>

<% if(statuss[i].pic_url!=undefined){ %> 

            <div class="trim">
                 <img class="statusimage"src="<%=statuss[i].pic_url %>" alt="Card image" >
            </div>
        
<% }%>
<div class="comlike">
  <span class="likespan"data-id='<%=user.id%>' >
    <% if(statuss[i].liked==true){ %> 
      <button class="btn likebtn"  data-id='<%=statuss[i].id%>' style="background-color:rgba(102, 102, 231, 0.274)">
        <svg class="likesvg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
      <rect x="10.667" y="234.667" style="fill:#0277BD;" width="149.333" height="256"/>
      <path style="fill:#01579B;" d="M160,501.333H10.667C4.776,501.333,0,496.558,0,490.667v-256C0,228.776,4.776,224,10.667,224H160
       c5.891,0,10.667,4.776,10.667,10.667v256C170.667,496.558,165.891,501.333,160,501.333z M21.333,480h128V245.333h-128V480z"/>
      <path style="fill:#8146a5a6;" d="M160,448c18.59,13.606,40.965,21.064,64,21.333h197.333c20.571,0.072,37.306-16.546,37.378-37.118
       c0.036-10.343-4.23-20.236-11.778-27.309c20.37-2.201,35.1-20.499,32.899-40.869c-0.956-8.848-5.061-17.057-11.565-23.131
       c20.373-2.177,35.124-20.458,32.946-40.831c-1.337-12.508-8.921-23.487-20.146-29.164c20.018-12.432,26.167-38.738,13.735-58.756
       c-7.763-12.5-21.42-20.118-36.135-20.156H309.333c11.719-30.799,18.905-63.136,21.333-96c0-40-34.667-74.667-53.333-74.667
       c-11.512,0.168-22.69,3.894-32,10.667v74.667l-64,138.667L160,256V448z"/>
      <path style="fill:#01579B;" d="M421.333,480H224c-25.865-0.206-50.969-8.783-71.552-24.448c-1.999-2.004-3.12-4.721-3.115-7.552V256
       c0-4.037,2.279-7.728,5.888-9.536l17.984-9.003l61.461-133.12V32c-0.007-3.242,1.461-6.312,3.989-8.341
       c11.226-8.25,24.747-12.791,38.677-12.992c24.683,0,64,39.061,64,85.333c-1.612,29.11-7.359,57.842-17.067,85.333h134.4
       c29.455,0,53.333,23.878,53.333,53.333c0.035,13.237-4.916,26.002-13.867,35.755c18.566,18.691,18.464,48.894-0.227,67.46
       c-3.591,3.567-7.728,6.54-12.253,8.807c3.32,6.62,5.037,13.928,5.013,21.333c-0.02,18.056-10.212,34.561-26.347,42.667
       c3.32,6.62,5.037,13.928,5.013,21.333C469.286,458.508,447.82,479.965,421.333,480z M170.667,443.115
       c16.153,9.666,34.517,15.021,53.333,15.552h197.333C436.056,458.655,447.988,446.723,448,432c0.001-7.328-3.053-14.324-8.427-19.307
       c-4.291-4.036-4.498-10.787-0.462-15.078c1.729-1.839,4.055-3.005,6.563-3.29c14.517-1.534,25.042-14.547,23.507-29.064
       c-0.67-6.34-3.609-12.224-8.275-16.568c-4.291-4.036-4.498-10.787-0.462-15.078c1.729-1.839,4.055-3.005,6.563-3.29
       c14.518-1.53,25.046-14.539,23.516-29.056c-0.946-8.98-6.411-16.856-14.492-20.885c-5.235-2.702-7.289-9.135-4.587-14.371
       c0.889-1.724,2.232-3.172,3.883-4.189c14.999-9.347,19.581-29.083,10.234-44.082c-5.794-9.298-15.941-14.985-26.896-15.075H309.333
       c-5.891-0.003-10.664-4.781-10.661-10.672c0.001-1.296,0.237-2.581,0.699-3.792C310.612,158.61,317.559,127.561,320,96
       c0-34.944-30.976-64-42.667-64c-7.482,0.121-14.815,2.108-21.333,5.781v68.885c-0.002,1.546-0.336,3.074-0.981,4.48l-64,138.667
       c-1.016,2.192-2.746,3.975-4.907,5.056l-15.445,7.723V443.115z"/>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      <g>
      </g>
      </svg>
<% } else {%>
  <button class="btn likebtn"  data-id='<%=statuss[i].id%>'>
    <svg class="likesvg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
  <rect x="10.667" y="234.667" style="fill:#0277BD;" width="149.333" height="256"/>
  <path style="fill:#01579B;" d="M160,501.333H10.667C4.776,501.333,0,496.558,0,490.667v-256C0,228.776,4.776,224,10.667,224H160
   c5.891,0,10.667,4.776,10.667,10.667v256C170.667,496.558,165.891,501.333,160,501.333z M21.333,480h128V245.333h-128V480z"/>
  <path style="fill:#ECEFF1;" d="M160,448c18.59,13.606,40.965,21.064,64,21.333h197.333c20.571,0.072,37.306-16.546,37.378-37.118
   c0.036-10.343-4.23-20.236-11.778-27.309c20.37-2.201,35.1-20.499,32.899-40.869c-0.956-8.848-5.061-17.057-11.565-23.131
   c20.373-2.177,35.124-20.458,32.946-40.831c-1.337-12.508-8.921-23.487-20.146-29.164c20.018-12.432,26.167-38.738,13.735-58.756
   c-7.763-12.5-21.42-20.118-36.135-20.156H309.333c11.719-30.799,18.905-63.136,21.333-96c0-40-34.667-74.667-53.333-74.667
   c-11.512,0.168-22.69,3.894-32,10.667v74.667l-64,138.667L160,256V448z"/>
  <path style="fill:#01579B;" d="M421.333,480H224c-25.865-0.206-50.969-8.783-71.552-24.448c-1.999-2.004-3.12-4.721-3.115-7.552V256
   c0-4.037,2.279-7.728,5.888-9.536l17.984-9.003l61.461-133.12V32c-0.007-3.242,1.461-6.312,3.989-8.341
   c11.226-8.25,24.747-12.791,38.677-12.992c24.683,0,64,39.061,64,85.333c-1.612,29.11-7.359,57.842-17.067,85.333h134.4
   c29.455,0,53.333,23.878,53.333,53.333c0.035,13.237-4.916,26.002-13.867,35.755c18.566,18.691,18.464,48.894-0.227,67.46
   c-3.591,3.567-7.728,6.54-12.253,8.807c3.32,6.62,5.037,13.928,5.013,21.333c-0.02,18.056-10.212,34.561-26.347,42.667
   c3.32,6.62,5.037,13.928,5.013,21.333C469.286,458.508,447.82,479.965,421.333,480z M170.667,443.115
   c16.153,9.666,34.517,15.021,53.333,15.552h197.333C436.056,458.655,447.988,446.723,448,432c0.001-7.328-3.053-14.324-8.427-19.307
   c-4.291-4.036-4.498-10.787-0.462-15.078c1.729-1.839,4.055-3.005,6.563-3.29c14.517-1.534,25.042-14.547,23.507-29.064
   c-0.67-6.34-3.609-12.224-8.275-16.568c-4.291-4.036-4.498-10.787-0.462-15.078c1.729-1.839,4.055-3.005,6.563-3.29
   c14.518-1.53,25.046-14.539,23.516-29.056c-0.946-8.98-6.411-16.856-14.492-20.885c-5.235-2.702-7.289-9.135-4.587-14.371
   c0.889-1.724,2.232-3.172,3.883-4.189c14.999-9.347,19.581-29.083,10.234-44.082c-5.794-9.298-15.941-14.985-26.896-15.075H309.333
   c-5.891-0.003-10.664-4.781-10.661-10.672c0.001-1.296,0.237-2.581,0.699-3.792C310.612,158.61,317.559,127.561,320,96
   c0-34.944-30.976-64-42.667-64c-7.482,0.121-14.815,2.108-21.333,5.781v68.885c-0.002,1.546-0.336,3.074-0.981,4.48l-64,138.667
   c-1.016,2.192-2.746,3.975-4.907,5.056l-15.445,7.723V443.115z"/>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  <g>
  </g>
  </svg>
<%}%>
        

</button>
 <span class="likecount"><%=statuss[i].like.length %> </span></span>
  <button class="coment comentstatus">coment.. <%=statuss[i].coment.length %></button>
  <button class="coment endstatus displaybtncoment">close...
</button> </div>
</div>
<% } %>
</div>
</div>


<div class="col-md-4 ">
  <div class="requestscontainer"> 
     <%if(requests.length==0){ %>
       <p>You don't have any  requests..</p>
     <%  } %> 


  <% for(let r=0;r<requests.length;r++) { %>
 <div class="serchcard reqcaed"> 
        <img class="guestimg" src="<%=requests[r].user.pic_url%>">
        <a href="/guest/<%=requests[r].user.email%>" ><%=requests[r].user.name%>  <%= requests[r].user.surname%></a>

    <% if(requests[r].status=='toRequest'){ %> 

     
       <p class="serchp" data-id="<%=requests[r].user.id%>">
         <button class="acceptFriend buttons">Acept</button>
         <button class="deletRequest buttons">Delet</button>
       </p>
      <% }else if(requests[r].status=='fromRequest' ){%> 
       <p class="buttons">you sent Request
       </p>

        
     <%  } %> 
      </div>
   <% } %>
   </div>

<div style="height: 350px;width: 300px;position: relative;">

</div>








</div>



</div>


</body>

<Script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></Script>
<script src="/js/profilAxios.js"></script>
<script src="/js/friendAxios.js"></script>

</html>